.drillmenu{ /* main DIV container of menu */
width: 180px; /*width of menu*/
height: 190px; /*Height of DIV for those with JavaScript disabled*/
overflow-y: scroll; /*Scrollable DIV for those with JavaScript disabled*/
}


.drillmenu ul{ /*menu ULs*/
margin: 0;
padding: 0;
list-style-type: none;
}

.drillmenu li a{ /*menu links*/
display: block;
color: #546900;
text-decoration: none;
padding: 5px;
}

* html .drillmenu li{ /*IE6 CSS hack*/
display: inline-block;
}

.drillmenu li a:hover{
background-color: #E4E4E4;
color: #546900;
}

li.backcontroltitle{ /*style of top level menu title*/
color: white;
padding: 4px;
}

li.backcontrol{ /*style of back button control that gets added to the top of each sub UL*/
color: #546900;
padding: 4px;
cursor: hand;
cursor: pointer;
}

#drillcrumb{ /*custom, user defined DIV that contains breadcrumb trail*/
margin-bottom: 5px;

}

#drillcrumb a{ /*custom element*/
color: darkred;
}
